@use "./styles/SASS" as *;

body {
    @extend %resetBody;
    background-color: $bodyColor;
    height: 1200px;
    font-family: 'Sora', sans-serif;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

.span-wrapper {
    @include flex(100%, auto, space-between, center);
    background-color: $navColor;
    padding: 5px 0 5px 0;
    transition: background-color 250ms ease-in;
    & .logo{
        margin: 0 30px 0 10px;
    }
    & .btn-menu-wrapper {
        margin-left: auto;
        padding-right: 10px;
        & .btn-menu {
            width: 100%;
            background-color: transparent;
            opacity: 0.8;
            border: none;
            color: $btnMenuColor;
            transition: color 250ms ease-in;
        }
    }

    &:hover > .btn-menu-wrapper > .btn-menu {
        color: #000000;
        transition: color 250ms ease-in;
    }
}

.menu-container {
    position: fixed;
    @include flex(100%, 100%, flex-end, none);
    transition: height 500ms ease;
    z-index: 2;

    & .outside-menu {
        height: 100vh;
        flex: 1;
        background-color:rgba( #000000, 0.5);
        opacity: 0;
        transform: translateX(-100%);
        transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
    }
    
    & .menu-wrapper {
        @include widthHeight(50%, 100vh);
        text-align: center;
        background-color: $navColor;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 250ms ease-in, opacity 250ms ease-in;
        max-width: 376px;
        & img {
            width: 100%;
            max-width: 202px;
            padding: 15px 0 24px 0;
        }
    }

    .displayMenu {
        transform: translateX(0%);
        opacity: 1;
        transition: transform 250ms ease-in, opacity 250ms ease-in;
    }
    
    .displayOutside {
        opacity: 1;
        transform: translateX(0%);
        transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
    }
}

.menu-list > li{
    @include font(5vw, 500);
}

.left {
    width: 100%;
}

@media screen and (min-width: 960px) {
    
    .span-wrapper {
        background-color: transparent;
        transition: background-color 250ms ease-in, opacity 250ms ease-in;
    }
}

.displayColor {
    background-color: $navColor;
    transition: background-color 250ms ease-in;
}

a, a:hover {
    color: #000000;
    text-decoration: none;
}

// - Header //

.header-container {
    @include flex(100%, calc(100vh - 62px), center, center);
    flex-flow: column nowrap;
    background-position: center;
    z-index: 0;
    & span:first-child {
        @extend %headerText;
        @include font(20vw, 700);
        color: #ffffff;
        background-color: #000000;
    }
    & span:last-of-type {
        @include font(4vw, 400);
        color: #000000;
        text-align: center;
    }
    & .ball-container {
        @include flex(200px, 200px, center, center);
        background-color: $bodyColor;
        border-radius: 50%;
        position: absolute;
        bottom: -100px;
        & .ball {
            @include flex(150px, 150px, center, center);
            background-color: #000000;
            border-radius: 50%;
        }
    }
}

@media screen and (min-width: 576px) {

    .menu-list > li{
        transition: background-color 200ms ease-in;
        &::before {
            content: '';
            @include widthHeight(0%, 5px);
            background-color: #000000;
            position: absolute;
            left: 0;
            bottom: 10px;
            z-index: 2;
            transition: width 250ms ease-in, background-color 200ms ease-in;
        }
        &:hover::before {
            width: 100%;
            background-color: $navColor;
            transition: width 250ms ease-in, background-color 200ms ease-in;
        }
        &:hover {
            background-color: #000000;
            transition: background-color 200ms ease-in;
        }
        &:hover a {
            color: $navColor;
        }
    }
}

@media screen and (min-width: 768px) {

    .menu-list > li{
        @include font(2.5rem, 500);
    }

    .header-container {
        & span:first-child {
            @include font(10rem, 700);
        }
        & span:last-of-type {
            @include font(2rem, 400);
        }
    }
}