@use "../SASS" as *;

@media screen and (min-width: 540px) {
    .bg-color-title > h1, h2 { //Event Page
        @include font(2.5rem, 500)
    }

    .span-wrapper > .btn-menu-wrapper { //menu
        margin-right: 25px;
    }
}

@media screen and (max-height: 700px) { //header(index)
    .ball-shortcut {
        opacity: 0;
        transition: opacity 250ms ease-in;
    }
}

@media screen and (min-width: 768px) {
    .menu-list > li{ //menu
        @include font(2.5rem, 500);
    }

    .header-container { //header(index)
        & h1 {
            @include font(10rem, 700);
        }
        & span {
            @include font(2rem, 400);
        }
    }

    .social-wrapper > a { // menu
        margin: 20px;
        & svg {
            @include widthHeight(38px, 38px);
        }
    }
}

@media screen and (min-width: 992px) {
    .menu-list > li{ //menu
        transition: background-color 200ms ease-in;
        &::before {
            content: '';
            @include widthHeight(0%, 5px);
            background-color: #000000;
            position: absolute;
            left: 0;
            bottom: 10px;
            transition: width 250ms ease-in, background-color 200ms ease-in;
        }
        &:hover::before {
            width: 100%;
            background-color: $navColor;
            transition: width 250ms ease-in, background-color 200ms ease-in;
        }
        &:hover {
            background-color: #000000;
            transition: background-color 200ms ease-in;
        }
        &:hover a {
            color: $navColor;
        }
    }
    
    .span-wrapper { //menu
        background-color: transparent;
        transition: background-color 250ms ease-in, opacity 250ms ease-in;
        &:hover {
            background-color: $navColor;
        }
    }

    .displayColor { //menu
        background-color: $navColor;
        transition: background-color 250ms ease-in;
    }

    .header-container > div.second { //header(index)
        background-color: $bodyColor;
    }

    .grid-item { //main(index)
        transition: box-shadow 100ms ease-in;
        &::before {
            top: 0px;
            opacity: 0;
        }
        &:hover::before {
            top: -30px;
            opacity: 1;
            transition: top 100ms ease-in, opacity 100ms ease-in;
        }
        &:hover {
            box-shadow: 0px 3px 10px black;
            transition: box-shadow 100ms ease-in;
        }
    }

    .main-container { //main(index)
        & .container-width {
            width: 50%;
        }
        & .side-cover {
            @include flex(50%, 100%, center, center);
            background-color: $gold;
            & video {
                width: 80%;
                border-radius: 5px;
            }
        }
    }

    //About page
    article {
        height: 100vh;
    }

    .img-wrapper {
       display: block;
    }
    
    .ball {
        top: -75px;
        right: -75px;
    }

    header > .bubble {
        margin-top: 0;
        transition: margin-top 250ms ease-in;
        & h1{
            font-size: 2.5rem;
    }   }

    .text-wrapper {
        flex-direction: row;
        align-items: stretch;
        width: 70%;
        padding: 0;
        & ul {
            margin-top: 0;
            margin-bottom: 0;
            padding: 50px 3.5vw;
        }
        & ul:first-of-type {
            border-right: 2px $bodyColor solid;
        }
    }

}