body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1e3d3;
  font-family: "Sora", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

.going-up {
  position: fixed;
  bottom: 15px;
  left: 0;
  z-index: 3;
  opacity: 0.8;
  color: #6d6969;
  transition: color 250ms ease-in;
  background-color: transparent;
  border: none;
  padding: 0;
}
.going-up:hover {
  color: #000000;
  transition: color 250ms ease-in;
}

.span-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px 0 5px 0;
  transition: background-color 250ms ease-in;
}
.span-wrapper .logo {
  margin: 0 30px 0 10px;
}
.span-wrapper .btn-menu-wrapper {
  margin-left: auto;
  padding-right: 10px;
}
.span-wrapper .btn-menu-wrapper .btn-menu {
  width: 100%;
  background-color: transparent;
  opacity: 0.8;
  border: none;
  color: #6d6969;
  transition: color 250ms ease-in;
}
.span-wrapper:hover > .btn-menu-wrapper > .btn-menu {
  color: #000000;
  transition: color 250ms ease-in;
}

.menu-container {
  position: fixed;
  height: 0%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: none;
  transition: height 500ms ease;
  z-index: 2;
}
.menu-container .outside-menu {
  height: 100vh;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-100%);
  transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
}
.menu-container .menu-wrapper {
  width: 50%;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 250ms ease-in, opacity 250ms ease-in;
  max-width: 376px;
}
.menu-container .menu-wrapper img {
  width: 100%;
  max-width: 202px;
  padding: 15px 0 24px 0;
}
.menu-container .displayMenu {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 250ms ease-in, opacity 250ms ease-in;
}
.menu-container .displayOutside {
  opacity: 1;
  transform: translateX(0%);
  transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
}

.menu-list > li {
  font-size: 5vw;
  font-weight: 500;
}

.left {
  width: 100%;
}

a, a:hover {
  color: #000000;
  text-decoration: none;
}

header {
  width: 100%;
  height: calc(100vh - 62px);
}

article {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.text-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  background-color: #3d6d79;
  position: relative;
}

.ball {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e3d3;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms ease-in;
}

section ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

section ul li {
  height: auto;
  overflow: hidden;
}
section ul li:last-child {
  display: flex;
  justify-content: start;
}
section ul li:last-child > p {
  color: #d69d66;
  font-size: 1.2rem;
  margin-top: 36px;
}

ul li p {
  line-height: 1.5rem;
  font-size: 1.2rem;
  transform: translateY(200%);
  color: #ffffff;
}

section ul li p.active {
  transform: translateY(0%);
  transition: 1s ease-out;
}

.img-wrapper {
  width: 30%;
  height: 100vh;
  overflow: hidden;
  display: none;
}

.img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=AboutStyle.css.map */
