@use "./SASS" as *;

//header
header {
    @include flex(100%, calc(100vh - 62px), center, center);
    min-height: 800px;
    & div {
        @include flex(50vw, 50vw, center, center);
        background-color: $gold;
        border-radius: 50%;
        position: relative;
        max-width: 31rem;
        max-height: 31rem;
        & h1 {
            @include font(4vw, 500);
        }
    }
    & div::before {
        content: "";
        @include flex(10vw, 10vw, center, center);
        min-width: 70px;
        min-height: 70px;
        max-width: 120px;
        max-height: 120px;
        background-color: $mainColor;
        border-radius: 50%;
        position: absolute;
        top: -150px;
        right: 0;
    }
    & div::after {
        content: "";
        @include flex(10vw, 10vw, center, center);
        min-width: 70px;
        min-height: 70px;
        max-width: 120px;
        max-height: 120px;
        background-color: $mainColor;
        border-radius: 50%;
        position: absolute;
        bottom: -150px;
        left: 0;
    }
}

//main

article {
    @include flex(100%, auto, start, center);
    min-height: 800px;
}

.text-wrapper {
    @include flex(100%, 100%, center, center);
    padding: 100px 50px;
    background-color: $mainColor;
    position: relative;

}

.ball {
    @include flex(150px, 150px, center, center);
    background-color: $bodyColor;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    z-index: 1;
    opacity: 1;
    transition: opacity 250ms ease-in;
}

section ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

section ul li {
    height: auto;
    overflow: hidden;
    &:last-child {
        display: flex;
        justify-content: start;
    }
    &:last-child > p {
        color: $gold;
        font-size: 1.2rem;
        margin-top: 36px;
    }
}

ul li p {
    line-height: 1.5rem;
    font-size: 1.2rem;
    transform: translateY(200%);
    color: $navColor;
}

section ul li p.active{
    transform: translateY(0%);
    transition: 1s ease-out;
}

.img-wrapper {
    @include widthHeight(30%, 100vh);
    min-height: 800px;
    overflow: hidden;
    display: none;
}

.img-wrapper > img {
    @include widthHeight(100%, 100%);
    object-fit: cover;
}

