@use "./SASS" as *;

//main page
.rounded-heart {
    @include flex(70px, 70px, center, center);
    background-color: $navColor;
    right: -15px;
    bottom: -35px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.125);
    & .show {
        display: block;
    }
    & .hide {
        display: none;
    }
}

textarea {
    resize: none;
}

section form:last-child {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.bg-color-title {
    background-color: $navColor;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.bg-color-title > h1, h2 {
    @include font(7.2vw, 500)
}

.bg-cards {
    background-color: $bodyColor;
}