@use "./SASS" as *;

//Nav-menu + general
* {
    scroll-behavior: smooth;
}

body {
    @extend %resetBody;
    background-color: $bodyColor;
    font-family: 'Sora', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    z-index: 2;
}

a, a:hover {
    color: #000000;
    text-decoration: none;
}

.going-up {
    position: fixed;
    bottom: 15px;
    left: 0;
    z-index: 2;
    color: #000000;
    opacity: 0.7;
    transition: opacity 250ms ease-in;
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover {
        opacity: 1;
        transition: opacity 250ms ease-in;
    }
}

.span-wrapper {
    @include flex(100vw, auto, space-between, center);
    background-color: $navColor;
    padding: 5px 0 5px 0;
    transition: background-color 250ms ease-in;
    & .logo{
        margin-left: 10px;
    }
    & .btn-menu-wrapper {
        margin-right: 4.2vw;
        & .btn-menu {
            width: 100%;
            background-color: transparent;
            color: #000000;
            opacity: 0.7;
            border: none;
            transition: opacity 250ms ease-in;
        }
    }
    & .btn-menu-wrapper > .btn-menu:hover {
        opacity: 1;
        transition: opacity 250ms ease-in;
    }
}

.menu-container {
    position: fixed;
    @include flex(100%, 0vh, initial, initial);
    top: 62px;
    z-index: 2;
    & .outside-menu {
        height: 100vh;
        flex: 1;
        background-color:rgba( #000000, 0.5);
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 250ms ease-in, transform 250ms ease-in;
    }
    & .menu-wrapper {
        @include flex(50%, 100vh, flex-start, center);
        flex-direction: column;
        text-align: center;
        max-width: 376px;
        background-color: $navColor;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 250ms ease-in, opacity 250ms ease-in;
        overflow: auto;
        scrollbar-width: none; //Moz
        -ms-overflow-style: none; //IE 10+
        &::-webkit-scrollbar { //Chrome, Opera, Safari ...
            display: none;
        }
        & img {
            width: 100%;
            max-width: 202px;
            padding: 15px 0 24px 0;
        }
    }

    .displayMenu {
        opacity: 1;
        transform: translateX(0%);
        transition: transform 250ms ease-in, opacity 250ms ease-in;
    }
}

.menu-list {
    width: 100%;
    & li {
        @include font(5vw, 500);
    }
}

.social-wrapper {
    @include flex(100%, auto, flex-start, center);
        flex-direction: column;
        min-height: 300px;
    & a {
        width: auto;
        margin: 2.3vh;
    }
    & a svg {
        @include widthHeight(5.1vw, 5.1vw);
        min-height: 20px;
        min-width: 20px;
    }
}