@use "./SASS" as *;

//Nav-menu + general
* {
    scroll-behavior: smooth;
}

body {
    @extend %resetBody;
    background-color: $bodyColor;
    font-family: 'Sora', sans-serif;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

.going-up {
    position: fixed;
    bottom: 15px;
    left: 0;
    z-index: 3;
    color: #000000;
    opacity: 0.7;
    transition: opacity 250ms ease-in;
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover {
        opacity: 1;
        transition: opacity 250ms ease-in;
    }
}

.span-wrapper {
    @include flex(100%, auto, space-between, center);
    background-color: $navColor;
    padding: 5px 0 5px 0;
    transition: background-color 250ms ease-in;
    & .logo{
        margin: 0 30px 0 10px;
    }
    & .btn-menu-wrapper {
        margin-left: auto;
        padding-right: 10px;
        & .btn-menu {
            width: 100%;
            background-color: transparent;
            color: #000000;
            opacity: 0.7;
            border: none;
            transition: opacity 250ms ease-in;
        }
    }

    & .btn-menu-wrapper > .btn-menu:hover {
        opacity: 1;
        transition: opacity 250ms ease-in;
    }
}

.menu-container {
    position: fixed;
    @include flex(100%, 0%, flex-end, none);
    transition: height 500ms ease;
    z-index: 2;

    & .outside-menu {
        height: 100vh;
        flex: 1;
        background-color:rgba( #000000, 0.5);
        opacity: 0;
        transform: translateX(-100%);
        transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
    }
    
    & .menu-wrapper {
        @include widthHeight(50%, 100vh);
        text-align: center;
        background-color: $navColor;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 250ms ease-in, opacity 250ms ease-in;
        max-width: 376px;
        & img {
            width: 100%;
            max-width: 202px;
            padding: 15px 0 24px 0;
        }
    }

    .displayMenu {
        transform: translateX(0%);
        opacity: 1;
        transition: transform 250ms ease-in, opacity 250ms ease-in;
    }
    
    .displayOutside {
        opacity: 1;
        transform: translateX(0%);
        transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
    }
}

.menu-list > li{
    @include font(5vw, 500);
}

.left {
    width: 100%;
}

a, a:hover {
    color: #000000;
    text-decoration: none;
}
