.ball-shortcut {
  border-radius: 50%;
  position: absolute;
  bottom: -75px;
  z-index: 1;
  transition: opacity 250ms ease-in;
}

.header-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background: center no-repeat url(../img/CSES2blur.jpg);
}
.header-container h1 {
  width: 100%;
  text-align: center;
  font-size: 20vw;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-container span {
  font-size: 4vw;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.header-container span:last-of-type::after {
  content: "Ham";
  color: #000000;
  opacity: 0.5;
}

.ball-shortcut {
  width: 150px;
  height: 150px;
}

.first {
  background-color: #f1e3d3;
}

.second {
  background-color: #3d6d79;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}
.main-container .container-width > div a {
  border-radius: 50%;
}

.grid-item {
  height: 16vw;
  width: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  max-height: 100px;
  background-color: #ffffff;
  position: relative;
}
.grid-item img {
  width: 70%;
}
.grid-item::before {
  content: "";
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  top: -30px;
  opacity: 1;
  transition: top 100ms ease-in, opacity 100ms ease-in;
  color: #ffffff;
}

.cooking::before {
  content: "Cuisine";
}

.chess::before {
  content: "Echecs";
}

.dance::before {
  content: "Danse";
}

.fablab::before {
  content: "FabLab";
}

.sewing::before {
  content: "Couture";
}

.pottery::before {
  content: "Poterie";
}

.music::before {
  content: "Musique";
}

.ludo::before {
  content: "Ludo";
}

.info::before {
  content: "Informatique";
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e3d3;
  position: relative;
  min-height: 600px;
}
section:nth-child(odd) {
  background-color: #3d6d79;
  color: #ffffff;
}

.card-resize {
  max-width: 380px;
}
.card-resize h3 {
  font-size: 1.5rem;
}

.rounded-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-img div {
  width: 50vw;
  height: 50vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}
.rounded-img .cooking-img {
  background: center/cover no-repeat url(../img/cuisine.jpg);
}
.rounded-img .chess-img {
  background: center/cover no-repeat url(../img/echecs.jpeg);
}
.rounded-img .dance-img {
  background: center/cover no-repeat url(../img/danse.jpg);
}
.rounded-img .fablab-img {
  background: center/cover no-repeat url(../img/fablab.jpg);
}
.rounded-img .sewing-img {
  background: center/cover no-repeat url(../img/couture.jpg);
}
.rounded-img .pottery-img {
  background: center/cover no-repeat url(../img/poterie.jpg);
}
.rounded-img .music-img {
  background: center/cover no-repeat url(../img/musique.jpg);
}
.rounded-img .ludo-img {
  background: center/cover no-repeat url(../img/Ludotheque.jpg);
}
.rounded-img .info-img {
  background: center/cover no-repeat url(../img/informatique.jpg);
}

.time-info {
  font-size: 0.8rem;
  font-weight: 500;
}

video {
  display: none;
}

/*# sourceMappingURL=style.css.map */
