@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container h1 {
  width: 100%;
  text-align: center;
  mix-blend-mode: overlay;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #f1e3d3;
  font-family: "Sora", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

.going-up {
  position: fixed;
  bottom: 15px;
  left: 0;
  z-index: 3;
  opacity: 0.8;
  color: #6d6969;
  transition: color 250ms ease-in;
  background-color: transparent;
  border: none;
  padding: 0;
}
.going-up:hover {
  color: #000000;
  transition: color 250ms ease-in;
}

.span-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px 0 5px 0;
  transition: background-color 250ms ease-in;
}
.span-wrapper .logo {
  margin: 0 30px 0 10px;
}
.span-wrapper .btn-menu-wrapper {
  margin-left: auto;
  padding-right: 10px;
}
.span-wrapper .btn-menu-wrapper .btn-menu {
  width: 100%;
  background-color: transparent;
  opacity: 0.8;
  border: none;
  color: #6d6969;
  transition: color 250ms ease-in;
}
.span-wrapper:hover > .btn-menu-wrapper > .btn-menu {
  color: #000000;
  transition: color 250ms ease-in;
}

.menu-container {
  position: fixed;
  height: 0%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: none;
  transition: height 500ms ease;
  z-index: 2;
}
.menu-container .outside-menu {
  height: 100vh;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-100%);
  transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
}
.menu-container .menu-wrapper {
  width: 50%;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 250ms ease-in, opacity 250ms ease-in;
  max-width: 376px;
}
.menu-container .menu-wrapper img {
  width: 100%;
  max-width: 202px;
  padding: 15px 0 24px 0;
}
.menu-container .displayMenu {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 250ms ease-in, opacity 250ms ease-in;
}
.menu-container .displayOutside {
  opacity: 1;
  transform: translateX(0%);
  transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
}

.menu-list > li {
  font-size: 5vw;
  font-weight: 500;
}

.left {
  width: 100%;
}

a, a:hover {
  color: #000000;
  text-decoration: none;
}

.header-container {
  height: calc(100vh - 62px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-position: center;
}
.header-container h1 {
  font-size: 20vw;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
}
.header-container span {
  font-size: 4vw;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.header-container span:last-of-type::after {
  content: "Ham";
  color: #000000;
  opacity: 0.5;
}

.ball-container {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e3d3;
  border-radius: 50%;
  position: absolute;
  bottom: -75px;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms ease-in;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-container h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}
.main-container .container-width > div > a {
  border-radius: 50%;
  width: 13vw;
  height: 13vw;
  max-width: 100px;
  max-height: 100px;
}
.main-container .container-width {
  position: relative;
}

.grid-item {
  height: 16vw;
  width: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  max-height: 100px;
  background-color: #ffffff;
  position: relative;
}
.grid-item img {
  width: 70%;
  max-width: 70px;
  max-height: 70px;
}
.grid-item::before {
  content: "";
  position: absolute;
  top: -30px;
  opacity: 1;
  transition: top 100ms ease-in, opacity 100ms ease-in;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.cooking::before {
  content: "Cuisine";
}

.chess::before {
  content: "Echecs";
}

.dance::before {
  content: "Danse";
}

.fablab::before {
  content: "FabLab";
}

.sewing::before {
  content: "Couture";
}

.pottery::before {
  content: "Poterie";
}

.music::before {
  content: "Musique";
}

.ludo::before {
  content: "Ludothèque";
}

.info::before {
  content: "Informatique";
}

.ball-shortcut {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: -75px;
  z-index: 1;
  transition: opacity 250ms ease-in;
}

.rounded-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-img div {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}
.rounded-img .cooking-img {
  background: center/cover no-repeat url(../img/cuisine.jpg);
}
.rounded-img .chess-img {
  background: center/cover no-repeat url(../img/echecs.jpeg);
}
.rounded-img .dance-img {
  background: center/cover no-repeat url(../img/danse.jpg);
}
.rounded-img .fablab-img {
  background: center/cover no-repeat url(../img/fablab.jpg);
}
.rounded-img .sewing-img {
  background: center/cover no-repeat url(../img/couture.jpg);
}
.rounded-img .pottery-img {
  background: center/cover no-repeat url(../img/poterie.jpg);
}
.rounded-img .music-img {
  background: center/cover no-repeat url(../img/musique.jpg);
}
.rounded-img .ludo-img {
  background: center/cover no-repeat url(../img/Ludotheque.jpg);
}
.rounded-img .info-img {
  background: center/cover no-repeat url(../img/informatique.jpg);
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e3d3;
  position: relative;
  z-index: 0;
  min-height: 600px;
}
section:nth-child(odd) {
  background-color: #3d6d79;
  color: #ffffff;
}
section .first {
  background-color: #f1e3d3;
}
section .second {
  background-color: #3d6d79;
}

video {
  display: none;
}

/*# sourceMappingURL=style.css.map */
