@use "./SASS" as *;

// - Header //
.header-container {
    @include flex(100%, calc(100vh - 62px), center, center);
    flex-flow: column nowrap;
    background: center no-repeat url(../img/CSES2blur.jpg);
    & h1 {
        @extend %headerText;
        @include font(20vw, 700);
        color: #ffffff;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    & span {
        @include font(4vw, 400);
        color: $navColor;
        text-align: center;
    }
    & span:last-of-type::after {
        content: 'Ham';
        color: #000000;
        opacity: 0.5;
    }
}

.ball-container {
    @include flex(150px, 150px, center, center);
    background-color: $bodyColor;
    border-radius: 50%;
    position: absolute;
    bottom: -75px;
    z-index: 1;
    opacity: 1;
    transition: opacity 250ms ease-in;
}

// - Main content //
main {
    @include flex(100%, 100%, center, center);
    flex-direction: column;
    position: relative;
}

.main-container {
    @include flex(100%, 100vh, center, center);
    position: relative;
    & h2 {
        @include font(1.6rem, 400);
        color: $navColor;
    }
    & .container-width > div > a {
            border-radius: 50%;
            @include widthHeight(13vw, 13vw);
            max-width: 100px;
            max-height: 100px;
    }
    & .container-width {
        position: relative;
    }
}

.grid-item {
    @include flex(16vw, 16vw, center, center);
    max-width: 100px;
    max-height: 100px;
    background-color: $navColor;
    position: relative;
    & img {
        width: 70%;
        max-width: 70px;
        max-height: 70px;
    }
    &::before {
        content: '';
        position: absolute;
        top: -30px;
        opacity: 1;
        transition: top 100ms ease-in, opacity 100ms ease-in;
        color: $navColor;
        @include font(1rem, 400)
    }
}

.cooking::before{
    content: 'Cuisine';
}

.chess::before {
    content: 'Echecs'
}

.dance::before {
    content: 'Danse'
}

.fablab::before {
    content: 'FabLab'
}

.sewing::before {
    content: 'Couture'
}

.pottery::before {
    content: 'Poterie'
}

.music::before {
    content: 'Musique'
}

.ludo::before {
    content: 'Ludothèque'
}

.info::before {
    content: 'Informatique'
}

.ball-shortcut {
    @include flex(150px, 150px, center, center);
    border-radius: 50%;
    position: absolute;
    bottom: -75px;
    z-index: 1;
    transition: opacity 250ms ease-in;
}

.rounded-img {
    @include flex(100%, 100%, center, center);
    & div {
        @include widthHeight(50vw, 50vw);
        border-radius: 50%;
        max-width: 300px;
        max-height: 300px;
    }
    & .cooking-img {
        background: center / cover no-repeat url(../img/cuisine.jpg);
    }
    
    .chess-img {
        background: center / cover no-repeat url(../img/echecs.jpeg);
    }
    
    .dance-img {
        background: center / cover no-repeat url(../img/danse.jpg);
    }
    
    .fablab-img {
        background: center / cover no-repeat url(../img/fablab.jpg);
    }
    
    .sewing-img {
        background: center / cover no-repeat url(../img/couture.jpg);
    }
    
    .pottery-img {
        background: center / cover no-repeat url(../img/poterie.jpg);
    }
    
    .music-img {
        background: center / cover no-repeat url(../img/musique.jpg);
    }
    
    .ludo-img {
        background: center / cover no-repeat url(../img/Ludotheque.jpg);
    }
    
    .info-img {
        background: center / cover no-repeat url(../img/informatique.jpg);
    }
}

section {
    @include flex(100%, 100vh, center, center);
    background-color: $bodyColor;
    position: relative;
    z-index: 0;
    min-height: 600px;
    &:nth-child(odd) {
        background-color: $mainColor;
        color: $navColor;
    }

    .first {
        background-color: $bodyColor;
    }

    .second {
        background-color: $mainColor;
    }
}

video {
    display: none;
}
