@use "./SASS" as *;

* {
    scroll-behavior: smooth;
}

body {
    @extend %resetBody;
    background-color: $bodyColor;
    font-family: 'Sora', sans-serif;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

.going-up {
    position: fixed;
    bottom: 15px;
    right: 10px;
    z-index: 3;
    opacity: 0.8;
    color: $btnMenuColor;
    transition: color 250ms ease-in;
    &:hover {
        color: #000000;
        transition: color 250ms ease-in;
    }
}

.span-wrapper {
    @include flex(100%, auto, space-between, center);
    background-color: $navColor;
    padding: 5px 0 5px 0;
    transition: background-color 250ms ease-in;
    & .logo{
        margin: 0 30px 0 10px;
    }
    & .btn-menu-wrapper {
        margin-left: auto;
        padding-right: 10px;
        & .btn-menu {
            width: 100%;
            background-color: transparent;
            opacity: 0.8;
            border: none;
            color: $btnMenuColor;
            transition: color 250ms ease-in;
        }
    }

    &:hover > .btn-menu-wrapper > .btn-menu {
        color: #000000;
        transition: color 250ms ease-in;
    }
}

.menu-container {
    position: fixed;
    @include flex(100%, 0%, flex-end, none);
    transition: height 500ms ease;
    z-index: 2;

    & .outside-menu {
        height: 100vh;
        flex: 1;
        background-color:rgba( #000000, 0.5);
        opacity: 0;
        transform: translateX(-100%);
        transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
    }
    
    & .menu-wrapper {
        @include widthHeight(50%, 100vh);
        text-align: center;
        background-color: $navColor;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 250ms ease-in, opacity 250ms ease-in;
        max-width: 376px;
        & img {
            width: 100%;
            max-width: 202px;
            padding: 15px 0 24px 0;
        }
    }

    .displayMenu {
        transform: translateX(0%);
        opacity: 1;
        transition: transform 250ms ease-in, opacity 250ms ease-in;
    }
    
    .displayOutside {
        opacity: 1;
        transform: translateX(0%);
        transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
    }
}

.menu-list > li{
    @include font(5vw, 500);
}

.left {
    width: 100%;
}

a, a:hover {
    color: #000000;
    text-decoration: none;
}

// - Header //

.header-container {
    @include flex(100%, calc(100vh - 62px), center, center);
    flex-flow: column nowrap;
    background-position: center;
    & h1 {
        @extend %headerText;
        @include font(20vw, 700);
        color: #ffffff;
        background-color: #000000;
    }
    & span {
        @include font(4vw, 400);
        color: #000000;
        text-align: center;
    }
}

.ball-container {
    @include flex(150px, 150px, center, center);
    background-color: $bodyColor;
    border-radius: 50%;
    position: absolute;
    bottom: -75px;
    z-index: 1;
    opacity: 1;
    transition: opacity 250ms ease-in;
}

// - Main content //

main {
    @include flex(100%, 100%, center, center);
    flex-direction: column;
    position: relative;
}

.main-container {
    @include flex(100%, 100vh, center, center);
    position: relative;
    & h2 {
        @include font(4vw, 400);
        color: $navColor;
    }
    & .container-width > div > a {
            border-radius: 50%;
            @include widthHeight(13vw, 13vw);
            max-width: 100px;
            max-height: 100px;
    }
    & .container-width {
        position: relative;
    }
}

.grid-item {
    @include flex(13vw, 13vw, center, center);
    max-width: 100px;
    max-height: 100px;
    background-color: $navColor;
    position: relative;
    & img {
        width: 70%;
        max-width: 70px;
        max-height: 70px;
    }
    &::before {
        content: '';
        position: absolute;
        top: -25px;
        opacity: 1;
        transition: top 100ms ease-in, opacity 100ms ease-in;
        color: $navColor;
        @include font(2.5vw, 400)
    }
}

.cooking::before{
    content: 'Cuisine';
}

.chess::before {
    content: 'Echecs'
}

.dance::before {
    content: 'Danse'
}

.fablab::before {
    content: 'FabLab'
}

.sewing::before {
    content: 'Couture'
}

.pottery::before {
    content: 'Poterie'
}

.music::before {
    content: 'Musique'
}

.ludo::before {
    content: 'Ludothèque'
}

.info::before {
    content: 'Informatique'
}

.ball-shortcut {
    @include flex(150px, 150px, center, center);
    border-radius: 50%;
    position: absolute;
    bottom: -75px;
    z-index: 1;
    transition: opacity 250ms ease-in;
}

.rounded-img {
    @include flex(100%, 100%, center, center);
    & div {
        @include widthHeight(50vw, 50vw);
        border-radius: 50%;
        max-width: 300px;
        max-height: 300px;
    }
    & .cooking-img {
        background: center / cover no-repeat url(/img/cuisine.jpg);
    }
    
    .chess-img {
        background: center / cover no-repeat url(/img/echecs.jpeg);
    }
    
    .dance-img {
        background: center / cover no-repeat url(/img/danse.jpg);
    }
    
    .fablab-img {
        background: center / cover no-repeat url(/img/fablab.jpg);
    }
    
    .sewing-img {
        background: center / cover no-repeat url(/img/couture.jpg);
    }
    
    .pottery-img {
        background: center / cover no-repeat url(/img/poterie.jpg);
    }
    
    .music-img {
        background: center / cover no-repeat url(/img/musique.jpg);
    }
    
    .ludo-img {
        background: center / cover no-repeat url(/img/Ludotheque.jpg);
    }
    
    .info-img {
        background: center / cover no-repeat url(/img/informatique.jpg);
    }
}

section {
    @include flex(100%, 100vh, center, center);
    background-color: $bodyColor;
    position: relative;
    z-index: 0;
    scroll-snap-align: start;
    &:nth-child(odd) {
        background-color: $mainColor;
    }

    .first {
        background-color: $bodyColor;
    }

    .second {
        background-color: $mainColor;
    }
}

video {
    display: none;
}
