body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container span:first-child {
  width: 100%;
  text-align: center;
  mix-blend-mode: overlay;
}

body {
  background-color: #f1e3d3;
  font-family: "Sora", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

.span-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px 0 5px 0;
  transition: background-color 250ms ease-in;
}
.span-wrapper .logo {
  margin: 0 30px 0 10px;
}
.span-wrapper .btn-menu-wrapper {
  margin-left: auto;
  padding-right: 10px;
}
.span-wrapper .btn-menu-wrapper .btn-menu {
  width: 100%;
  background-color: transparent;
  opacity: 0.8;
  border: none;
  color: #6d6969;
  transition: color 250ms ease-in;
}
.span-wrapper:hover > .btn-menu-wrapper > .btn-menu {
  color: #000000;
  transition: color 250ms ease-in;
}

.menu-container {
  position: fixed;
  height: 0%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: none;
  transition: height 500ms ease;
  z-index: 2;
}
.menu-container .outside-menu {
  height: 100vh;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-100%);
  transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
}
.menu-container .menu-wrapper {
  width: 50%;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 250ms ease-in, opacity 250ms ease-in;
  max-width: 376px;
}
.menu-container .menu-wrapper img {
  width: 100%;
  max-width: 202px;
  padding: 15px 0 24px 0;
}
.menu-container .displayMenu {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 250ms ease-in, opacity 250ms ease-in;
}
.menu-container .displayOutside {
  opacity: 1;
  transform: translateX(0%);
  transition: width 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in;
}

.menu-list > li {
  font-size: 5vw;
  font-weight: 500;
}

.left {
  width: 100%;
}

a, a:hover {
  color: #000000;
  text-decoration: none;
}

.header-container {
  height: calc(100vh - 62px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-position: center;
  z-index: 0;
}
.header-container span:first-child {
  font-size: 20vw;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
}
.header-container span:last-of-type {
  font-size: 4vw;
  font-weight: 400;
  color: #000000;
  text-align: center;
}
.header-container .ball-container {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e3d3;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
}
.header-container .ball-container .ball {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d69d66;
  border-radius: 50%;
  margin-bottom: 50px;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1e3d3;
  margin-top: 25px;
}

.main-container {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d6d79;
}

.grid-item {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e3d3;
  border-radius: 50%;
  transition: width 500ms ease-in, height 500ms ease-in;
}
.grid-item img {
  width: 70%;
  height: auto;
}

@media screen and (min-width: 576px) {
  .menu-list > li {
    transition: background-color 200ms ease-in;
  }
  .menu-list > li::before {
    content: "";
    width: 0%;
    height: 5px;
    background-color: #000000;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 2;
    transition: width 250ms ease-in, background-color 200ms ease-in;
  }
  .menu-list > li:hover::before {
    width: 100%;
    background-color: #ffffff;
    transition: width 250ms ease-in, background-color 200ms ease-in;
  }
  .menu-list > li:hover {
    background-color: #000000;
    transition: background-color 200ms ease-in;
  }
  .menu-list > li:hover a {
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .menu-list > li {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .header-container span:first-child {
    font-size: 10rem;
    font-weight: 700;
  }
  .header-container span:last-of-type {
    font-size: 2rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 960px) {
  .span-wrapper {
    background-color: transparent;
    transition: background-color 250ms ease-in, opacity 250ms ease-in;
  }

  .displayColor {
    background-color: #ffffff;
    transition: background-color 250ms ease-in;
  }
}
@media screen and (min-width: 1200px) {
  .grid-item {
    width: 150px;
    height: 150px;
    transition: width 500ms ease-in, height 500ms ease-in;
  }
}

/*# sourceMappingURL=style.css.map */
