@use "./SASS" as *;

// - Header //
.header-container {
    @include flex(100%, 100vh, center, center);
    flex-flow: column nowrap;
    background: center no-repeat url(../img/CSES2blur.jpg);
    & h1 {
        width: 100%;
        text-align: center;
        @include font(20vw, 700);
        color: #ffffff;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    & span {
        @include font(4vw, 400);
        color: $navColor;
        text-align: center;
    }
    & span:last-of-type::after {
        content: 'Ham';
        color: #000000;
        opacity: 0.5;
    }
}

.ball-shortcut {
    @include widthHeight(150px, 150px);
    @extend %ball;
}

.first {
    background-color: $bodyColor;
}

.second {
    background-color: $mainColor;
}

// - Main content //
main {
    @include flex(100%, 100%, center, center);
    flex-direction: column;
    position: relative;
}

.main-container {
    @include flex(100%, 100vh, center, center);
    & h2 {
        @include font(1.6rem, 400);
        color: $navColor;
    }
    & .container-width > div a {
            border-radius: 50%;
    }
}

.grid-item {
    @include flex(16vw, 16vw, center, center);
    @include maxWidthHeight(100px, 100px);
    background-color: $navColor;
    position: relative;
    & img {
        width: 70%;
    }
    &::before {
        content: '';
        @include font(1rem, 400);
        position: absolute;
        top: -30px;
        opacity: 1;
        transition: top 100ms ease-in, opacity 100ms ease-in;
        color: $navColor;
    }
}

.cooking::before{
    content: 'Cuisine';
}

.chess::before {
    content: 'Echecs'
}

.dance::before {
    content: 'Danse'
}

.fablab::before {
    content: 'FabLab'
}

.sewing::before {
    content: 'Couture'
}

.pottery::before {
    content: 'Poterie'
}

.music::before {
    content: 'Musique'
}

.ludo::before {
    content: 'Ludo'
}

.info::before {
    content: 'Informatique'
}

section {
    @include flex(100%, 100vh, center, center);
    background-color: $bodyColor;
    position: relative;
    min-height: 600px;
    &:nth-child(odd) {
        background-color: $mainColor;
        color: $navColor;
    }
}

.card-resize {
    max-width: 380px;
    & h3 {
        font-size: 1.5rem;
    }
}

.rounded-img {
    @include flex(100%, 100%, center, center);
    & div {
        @include widthHeight(50vw, 50vw);
        @include maxWidthHeight(300px, 300px);
        border-radius: 50%;
    }
    .cooking-img {
        background: center / cover no-repeat url(../img/cuisine.jpg);
    }
    
    .chess-img {
        background: center / cover no-repeat url(../img/echecs.jpeg);
    }
    
    .dance-img {
        background: center / cover no-repeat url(../img/danse.jpg);
    }
    
    .fablab-img {
        background: center / cover no-repeat url(../img/fablab.jpg);
    }
    
    .sewing-img {
        background: center / cover no-repeat url(../img/couture.jpg);
    }
    
    .pottery-img {
        background: center / cover no-repeat url(../img/poterie.jpg);
    }
    
    .music-img {
        background: center / cover no-repeat url(../img/musique.jpg);
    }
    
    .ludo-img {
        background: center / cover no-repeat url(../img/Ludotheque.jpg);
    }
    
    .info-img {
        background: center / cover no-repeat url(../img/informatique.jpg);
    }
}

.time-info {
    @include font(0.8rem, 500);
}

video {
    display: none;
}
